<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  {% if section.settings.default_heading_set %}
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  {% endif %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-sections",
  "settings": [
    {
      "type": "checkbox",
      "id": "default_heading_set",
      "default": false,
      "label": "Default Heading set"
    }
  ]
}
{% endschema %}
